@using InsuranceRight.Services.Client.Models;
@model AddressCheckViewModel
@{
    ViewBag.Title = "AddressCheck";
}

<h2>AddressCheck</h2>

@using (Html.BeginForm())
{

    <fieldset>
        <legend>Address</legend>
        
        <div style="margin:10px">
            @Html.LabelFor(m => m.Address.ZipCode)
            @Html.TextBoxFor(m => m.Address.ZipCode)
        </div>
        <div style="margin:10px">
            @Html.LabelFor(m => m.Address.HouseNumber)
            @Html.TextBoxFor(m => m.Address.HouseNumber)
        </div>
        <div style="margin:10px">
            @Html.LabelFor(m => m.Address.HouseNumberExtension)
            @Html.TextBoxFor(m => m.Address.HouseNumberExtension)
        </div>
        
        <p>
            <input type="submit" value="Continue"/>
        </p>
        @if (Model != null)
        {
            if (Model.ReturnZipCodeObject != null && Model.ReturnZipCodeObject.HasErrors)
            {
                foreach (var message in @Model.ReturnZipCodeObject.ErrorMessages)
                {
                    <p class="text-danger">
                        @message
                    </p>
                }

            }
            if (Model.ReturnAddressObject != null && Model.ReturnAddressObject.HasErrors)
            {
                foreach (var message in @Model.ReturnAddressObject.ErrorMessages)
                {
                    <p class="text-danger">
                        @message
                    </p>
                }

            }
        }
         


            
    </fieldset>

}
